<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acerca</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mob Psycho 100</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Temporadas:</strong> 3</p>
        <p><strong>Creador:</strong> ONE</p>
        <p>La historia sigue a Shigeo "Mob" Kageyama, un joven con poderes psíquicos increíbles, en su lucha por una vida normal mientras enfrenta amenazas sobrenaturales.</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
