<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contratame</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card>
  <img src="assets/mi-foto.jpg" />
  <ion-card-header>
    <ion-card-title>Tu Nombre</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Email:</strong> tu@email.com</p>
    <p><strong>Teléfono:</strong> +1 809 xxx xxxx</p>
    <p><strong>GitHub:</strong> https://github.com/Jaykler</p>
  </ion-card-content>
</ion-card>