<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">portada</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<!-- portada.page.html -->
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/slide1.jpg" />
    </ion-slide>
    <ion-slide>
      <video width="100%" autoplay muted>
        <source src="assets/image.png" type="video/mp4" />
      </video>
    </ion-slide>
  </ion-slides>
</ion-content>
